form {
  align-content: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(15, 208, 86);
  margin-top: 14dvh;
  height: 60dvh;
  width: 50dvw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
}

h2 {
  padding-top: 1rem;
  align-items: center;
  text-align: center;
  margin: 2%;
  font-size: 3rem;
}
ul {
  list-style: none;
  align-items: center;
}

li {
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 1.5rem;

  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}
select {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  width: 20rem;
}
option {
  width: 3rem;
  font-size: 1.5rem;
}
label {
  font-size: 2.3rem;
}
#primerLi {
  padding-left: 3.85rem;
}
#segundoLi {
  padding-left: 6.75rem;
}
#tercerLi {
  padding-left: 6rem;
}

#boton {
  height: 2.5rem;
  width: 35rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#boton:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
