#encuadre {
  align-content: center;
  text-align: center;
  height: 65dvh;
  width: 30dvw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -11.5rem;
}

#bloque {
  height: 40%;
  background-color: aliceblue;
  border-radius: 1rem 1rem 1rem 1rem;
  border-bottom: 0.5rem rgb(169, 208, 15) solid;
  margin-bottom: 1.5rem;
}

#bloque > article > p {
  margin-left: -20rem;
  margin-bottom: -0.5rem;
}

#bloque > p {
  padding-top: 2.5rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

button {
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

button:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
