#panel {
  align-content: center;
  text-align: center;

  background-color: rgb(15, 208, 86);
  margin-top: 14dvh;
  height: 40dvh;
  width: 50dvw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
  box-sizing: border-box;
  display: block;
}
#saludo {
  align-content: center;
  text-align: center;
  z-index: 1;
  background-color: rgb(15, 208, 86);
  margin-top: 1%;
  height: 13dvh;
  width: 30dvw;
  margin-left: auto;
  margin-right: 1%;
  font-size: 1.5rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -10dvh;
}

#hora {
  font-size: 1rem;
  margin-bottom: 1%;
}

#boton2 {
  height: 75%;
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boton2:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

#boton1 {
  height: 75%;
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boton1:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

#boton3 {
  height: 75%;
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boton3:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
#panel > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
#panel > h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  padding-top: 0.5rem;
  margin-top: -2%;
  height: 9vh;
  font-size: 5rem;
  text-shadow: 2px 2px 4px red;
  box-sizing: border-box;
  border-bottom: 0.3rem solid rgb(169, 208, 15);
  border-top: 0.3rem solid rgb(169, 208, 15);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 65%;
  border-bottom-right-radius: 65%;
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 27%;
  height: 100%;
}

.boton-saludo {
  height: 2rem;
  width: 20rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #333;

  margin-top: 3rem;
}
.boton-saludo:hover {
  background-color: rgb(255, 255, 0);
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
