form {
  align-content: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(15, 208, 86);
  margin-top: 18dvh;
  height: 50dvh;
  width: 50dvw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
}
h2 {
  padding-top: 1rem;
  align-items: center;
  text-align: center;
  margin: 2%;
  font-size: 3rem;
}
ul {
  list-style: none;
  align-items: center;
}

li {
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 1.5rem;

  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}

label {
  font-size: 2.3rem;
}
#primerLi {
  padding-left: 3.85rem;
}
#boton {
  height: 2.5rem;
  width: 25rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
}

#boton:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
#boton2 {
  height: 2.5rem;
  width: 35rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boton2:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
}

p#mensaje {
  background-color: rgb(166, 169, 73);
  color: rgb(20, 11, 0);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  z-index: 1;
  display: block;
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
