#saludo {
  align-content: center;
  text-align: center;

  background-color: rgb(15, 208, 86);
  margin-top: 1%;
  height: 13dvh;
  width: 30dvw;
  margin-left: auto;
  margin-right: 1%;
  font-size: 1.5rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -10dvh;
  z-index: 2;
}

#hora {
  font-size: 1rem;
  margin-bottom: 1%;
}

#encuadre {
  align-content: center;
  text-align: center;
  height: 50dvh;
  width: 40dvw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -11.5rem;
}

ul {
  list-style: none;
}

#bloque {
  height: 40%;
  background-color: aliceblue;
  border-radius: 1rem 1rem 1rem 1rem;
  border-bottom: 0.5rem rgb(169, 208, 15) solid;
  margin-bottom: 1.5rem;
}

#bloque > h4 {
  text-align: left;
  padding-left: 2rem;
  background-color: rgb(15, 208, 86);
  border-top: 0.5rem rgb(169, 208, 15) solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#bloque > p {
  margin-left: -30rem;
  margin-bottom: -0.5rem;
}

#bloque > ul > li {
  padding-bottom: 0.5rem;
  margin-left: -15rem;
}

#flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  border-bottom: 0.5rem rgb(169, 208, 15) solid;
  margin-bottom: -7rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

button {
  padding: 0;
  margin: 0;
  border-top: 0.5rem rgb(169, 208, 15) solid;
  border-left: 0.5rem rgb(169, 208, 15) solid;
  border-right: 0.5rem rgb(169, 208, 15) solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  width: 10rem;
  background-color: rgb(201, 234, 12);
  transition: background-color 1s ease;
  transition: height 1s ease;
  font-size: 1rem;
}
button:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
  height: 4rem;
}

a {
  text-decoration: none;
}
