body {
  overflow: hidden;
}

#saludo1 {
  align-content: center;
  text-align: center;

  background-color: rgb(15, 208, 86);
  margin-top: 18dvh;
  height: 60dvh;
  width: 50dvw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  border-radius: 5%;
  border: 0.5rem rgb(169, 208, 15) solid;
  box-sizing: border-box;
  display: block;
  z-index: 2;
}

#boton3 {
  height: 2.5rem;
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgb(201, 234, 12);
  border-radius: 10px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boton3:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
}
